<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IKunaServise">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IKunaServise" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://kunaservice/KunaServise.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IKunaServise" contract="ServiceReference2.IKunaServise"
                name="BasicHttpBinding_IKunaServise" />
            <endpoint address="https://kunaservice.azurewebsites.net/KunaServise.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IKunaServise"
                contract="ServiceReference2.IKunaServise" name="BasicHttpsBinding_IKunaServise" />
        </client>
    </system.serviceModel>
</configuration>